/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  font-family: 'Open Sans', sans-serif;
}
body {
  font-size: 15px;
  color: #694d23;
}
a {
  color: #96662d;
}
.clearfix:after {
  content: " ";
  display: block;
  clear: both;
}
.site-nav {
  position: fixed;
  top: 0px;
  width: 100%;
  left: 0px;
  background: white;
  padding: 0px 0 20px 0;
  text-align: center;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}
.site-nav__element {
  display: inline-block;
  text-decoration: none;
  margin: auto 20px;
  vertical-align: middle;
  font-weight: 100;
  color: #694d23;
  font-size: 18.2px;
  font-size: 1.3rem;
}
.site-nav__element:hover {
  color: #d79a36;
}
.site-nav__logo {
  width: 240px;
  position: relative;
  top: 14px;
}
.site-nav__profil {
  position: absolute;
  right: 5%;
  top: 50px;
  font-variant: small-caps;
  font-size: 20px;
}
.site-video {
  margin-top: 130px;
}
.site-video img {
  width: 100%;
}
.wrapper {
  width: 90%;
  margin: auto;
}
.main-title {
  font-size: 40px;
  margin: 30px 0 20px;
  font-weight: 400;
}
.article {
  margin: 0 0 30px 0;
}
.article__titre {
  font-size: 25.2px;
  font-size: 1.8rem;
  font-weight: 100;
  margin: 0 10px 15px 0;
}
.article__texte {
  line-height: 1.4;
  clear: both;
}
.article__date {
  font-size: 17px;
  background: #d79a36;
  padding: 10px;
  display: inline-block;
}
.article__categorie {
  background: #452418;
  color: #d79a36;
  margin: 0 0 10px 0;
  padding: 10px;
  float: left;
  display: inline-block;
  font-size: 17px;
}
.blog {
  float: left;
  width: 700px;
  margin: 10px 0 0 0;
}
.colonne-droite {
  width: 350px;
  margin: 10px 0 0 0;
  float: right;
}
.colonne-droite__titre {
  font-size: 25.2px;
  font-size: 1.8rem;
  font-weight: 100;
  margin: 0 0 15px 0;
}
.colonne-droite__item {
  display: inline;
}
.blog-categories__link {
  font-size: 21px;
  font-size: 1.5rem;
  margin: 10px 0;
  color: #d79a36;
  text-decoration: none;
}
.blog-categories__link:after {
  content: ", ";
  color: #96662d;
}
.blog-categories__item {
  display: inline;
}
.blog-categories__item:last-child .blog-categories__link:after {
  content: " ";
}
.site-footer {
  background: #452418;
  min-height: 300px;
  margin-top: 70px;
}
.form--main {
  width: 700px;
}
.form__texte {
  width: 100%;
  display: block;
  border: 1px solid #d79a36;
  padding: 5px;
  color: #452418;
  font-size: 14px;
  font-size: 1rem;
}
.form__area {
  display: block;
  color: #452418;
  border: 1px solid #d79a36;
  width: 100%;
  padding: 5px;
  font-size: 14px;
  font-size: 1rem;
}
.form__division {
  margin-bottom: 20px;
}
.form__label {
  display: block;
  margin-bottom: 7px;
  font-size: 16.8px;
  font-size: 1.2rem;
}
.form__button {
  border: none;
  font-size: 19.599999999999998px;
  font-size: 1.4rem;
  color: #d79a36;
  margin-top: 10px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2) inset;
  font-variant: small-caps;
  background: #452418;
  padding: 7px 0;
  text-align: center;
  width: 100%;
}
.form__select {
  font-size: 16.8px;
  font-size: 1.2rem;
  padding: 5px;
  border: 1px solid #d79a36;
  border-radius: 0px;
  background: white;
  width: 300px;
  color: #694d23;
  -webkit-appearance: none;
}
.hidden {
  display: none;
}
