.site-nav{
  position:fixed;
  top:-15px;
  width:100%;
  left:0px;
  background: white;
  padding:0 0 30px 0;
  text-align:center;
}
.site-nav__element{
  display:inline-block;
  text-decoration:none;
  margin:auto 20px;
  vertical-align:bottom;
  font-weight:100;
  color:@brun;
  .font-size(1.7);
  &:hover{
    color:@orange;
  }
}
.site-nav__logo{
  width:140px;
  position:relative;
  top:28px;
  &:hover{
    opacity:0.7;
  }
}
